In [1]:
import pandas as pd

In [2]:
file = ("purchase_data.csv")

In [3]:
pymoli_df = pd.read_csv(file, encoding="ISO-8859-1")

In [4]:
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#player count
total_players = pymoli_df["SN"].nunique()
player_count = {"": [""], 
                "Total Players": [total_players]}
df_player_count = pd.DataFrame(player_count)
df_player_count

     Total Players
0              576

In [44]:
#purchasing annalysis
num_unique = pymoli_df["Item Name"].nunique()
ave_price = (pymoli_df["Price"].mean())
num_purchase = pymoli_df["Purchase ID"].count()
total_purchase = pymoli_df["Price"].sum()
purch_annalysis = {"": [""], 
                "Unique Items": [num_unique],
                  "Average Price": [ave_price],
                   "Number of Purchases": [num_purchase],
                  "Total Purchase": [total_purchase]}
df_purchase_annalysis = pd.DataFrame(purch_annalysis)
df_purchase_annalysis

     Unique Items  Average Price  Number of Purchases  Total Purchase
0             179       3.050987                  780         2379.77

In [107]:
#gender demographic
grouped_gender = pymoli_df.groupby("Gender")
grouped_gender_df = pd.DataFrame(grouped_gender["SN"].nunique())

grouped_gender_purch_tot_df = pd.DataFrame(grouped_gender["Purchase ID"].count())
grouped_gender_ave_price_df = (pd.DataFrame(grouped_gender["Price"].mean())).round(2)

grouped_gender_tot_purch_df = pd.DataFrame(grouped_gender["Price"].sum())
total_purch_df = (pd.DataFrame(grouped_gender["Price"].sum())).round(2)
ave_total_purch_pers = (pd.DataFrame(grouped_gender["Price"].sum()/grouped_gender["SN"].nunique())).round(2)

perc_gender = (grouped_gender["Purchase ID"].nunique()/num_purchase)*100
perc_gender_df = (pd.DataFrame(perc_gender)).round(2)

merged_gender_df = pd.merge(grouped_gender_df, perc_gender_df, on=["Gender"])
merged_gender_df.columns = ["Count of Players", "Percentage of Players"]
merged_gender_df

                       Count of Players  Percentage of Players
Gender
Female                               81                  14.49
Male                                484                  83.59
Other / Non-Disclosed                11                   1.92

In [108]:
purch_annalysis_gender = pd.merge(grouped_gender_purch_tot_df, grouped_gender_ave_price_df, on="Gender").merge(total_purch_df, on="Gender").merge(ave_total_purch_pers, on="Gender")
purch_annalysis_gender_df = pd.DataFrame(purch_annalysis_gender)
# .merge(ave_total_purch_pers, on="Gender")
purch_annalysis_gender_df.columns = ["Number of Purchase", "Avg Purchase Price", "Total Purchase Value", "Avg Purchase per Person"]
# purch_annalysis_gender_df.style.format({"Avg Purchase Price":"${:,.2}"})
purch_annalysis_gender_df

,Number of Purchase,Avg Purchase Price,Total Purchase Value,Avg Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

df_grouped_by_gender = pd.DataFrame(grouped_by_gender.count())
df_grouped_by_gender.rename(columns={"Purchase ID"}: {"Purchase Count"})
df_grouped_by_gender.head()

In [109]:
#second gender

In [110]:
#Demo
print(pymoli_df["Age"].max())
print(pymoli_df["Age"].min())

45
7

In [111]:
bins = [0,9, 14, 19, 24, 29, 34, 39, 45]

group_labels = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pd.cut(pymoli_df["Age"], bins, labels=group_labels).head()
pymoli_df["Age Group"] = pd.cut(pymoli_df["Age"], bins, labels=group_labels)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [140]:
player_age = pymoli_df.groupby("Age Group")

player_age_df = pd.DataFrame(player_age["SN"].nunique())
player_age_df
perc_age = (player_age["SN"].nunique()/total_players)*100
perc_age_df = pd.DataFrame(perc_age).round(2)
perc_age_df
merged_age_perc = pd.merge(player_age_df, perc_age_df, on="Age Group")
merged_age_perc.columns = ["Number of Players", "Percentage of Players"]
merged_age_perc

           Number of Players  Percentage of Players
Age Group
< 10                      17                   2.95
10-14                     22                   3.82
15-19                    107                  18.58
20-24                    258                  44.79
25-29                     77                  13.37
30-34                     52                   9.03
35-39                     31                   5.38
40+                       12                   2.08

In [143]:
#Purch annalysis by age
player_age_ave_purch_df = (pd.DataFrame(player_age["Price"].mean())).round(2)
player_age_purch_df = pd.DataFrame(player_age["Purchase ID"].count())
#player_age_ave_purch_df
player_age_sum_purch_df = pd.DataFrame(player_age["Price"].sum())
#player_age_sum_purch_df
player_age_ave_person_purch = player_age["Price"].sum()/player_age["SN"].nunique()#comeback
player_age_ave_person_purch_df = (pd.DataFrame(player_age_ave_person_purch)).round(2)

In [148]:
purch_annalysis_age = pd.merge(player_age_purch_df, player_age_ave_purch_df, on="Age Group").merge(player_age_sum_purch_df, on="Age Group").merge(player_age_ave_person_purch_df, on="Age Group")
purch_annalysis_age_df = pd.DataFrame(purch_annalysis_age)
purch_annalysis_age_df.columns = ["Number of Purchase", "Avg Purchase", "Total Purchase", "Avg Purchase by Player"]
purch_annalysis_age_df

,Number of Purchase,Avg Purchase,Total Purchase,Avg Purchase by Player
Age Group,,,,
< 10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [150]:
#top spender
grouped_total_players = pymoli_df.groupby("SN")

purchase_count_df = pd.DataFrame(grouped_total_players["Price"].count())
ave_top_purch_price_df = (pd.DataFrame(grouped_total_players["Price"].mean())).round(2)
total_top_purch_price_df = pd.DataFrame(grouped_total_players["Price"].sum())
tops_spender_annalysis = pd.merge(purchase_count_df, ave_top_purch_price_df, on="SN").merge(total_top_purch_price_df, on="SN")
tops_spender_annalysis_df = pd.DataFrame(tops_spender_annalysis)

top_spender_df = pd.DataFrame(tops_spender_annalysis_df.sort_values(by=["Price"],ascending=False))
top_spender_df.columns = ["Total Purchase", "Avg Purchase Price", "Total Purchase Value"]
top_spender_df[:5]

             Total Purchase  Avg Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.79                 18.96
Idastidru52               4                3.86                 15.45
Chamjask73                3                4.61                 13.83
Iral74                    4                3.40                 13.62
Iskadarya95               3                4.37                 13.10

In [172]:
grouped_items = pymoli_df.groupby(["Item ID", "Item Name"])
grouped_items_count_df = pd.DataFrame(grouped_items["Purchase ID"].count())
grouped_items_count_df
grouped_items_tot_value_df = pd.DataFrame(grouped_items["Price"].sum())
grouped_items_price = grouped_items["Price"].sum()/grouped_items["Purchase ID"].count() 
grouped_items_price_df = pd.DataFrame(grouped_items_price)
merged_items_annalysis = pd.merge(grouped_items_count_df, grouped_items_price_df, on=["Item ID", "Item Name"]).merge(grouped_items_tot_value_df, on=["Item ID", "Item Name"])
merged_items_annalysis_df = pd.DataFrame(merged_items_annalysis)
merged_items_annalysis_df = pd.DataFrame(merged_items_annalysis_df.sort_values(by=["Purchase ID"],ascending=False))
merged_items_annalysis_df.columns = ["Purchase Count", "Item Price", "Total Purchase Value"]
merged_items_annalysis_df[:5]

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16