In [17]:
import pandas as pd

In [22]:
file = ("purchase_data.csv")

In [23]:
pymoli_df = pd.read_csv(file, encoding="ISO-8859-1")

In [34]:
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [71]:
#player count
total_players = pymoli_df["SN"].nunique()
player_count = {"": [""], 
                "Total Players": [total_players]}
df_player_count = pd.DataFrame(player_count)
df_player_count

     Total Players
0              576

In [227]:
#purchasing annalysis
num_unique = pymoli_df["Item Name"].nunique()
ave_price = pymoli_df["Price"].mean()
num_purchase = pymoli_df["Purchase ID"].count()
total_purchase = pymoli_df["Price"].sum()
purch_annalysis = {"": [""], 
                "Unique Items": [num_unique],
                  "Average Price": [ave_price],
                   "Number of Purchases": [num_purchase],
                  "Total Purchase": [total_purchase]}
df_purchase_annalysis = pd.DataFrame(purch_annalysis)
df_purchase_annalysis

     Unique Items  Average Price  Number of Purchases  Total Purchase
0             179       3.050987                  780         2379.77

In [224]:
#gender demographic
grouped_gender = pymoli_df.groupby("Gender")
grouped_gender_df = pd.DataFrame(grouped_gender["Purchase ID"].count())
grouped_gender_df
grouped_gender_ave_price_df = pd.DataFrame(grouped_gender["Price"].mean())
grouped_gender_tot_purch_df = pd.DataFrame(grouped_gender["Price"].sum())
ave_total_purch_pers = grouped_gender["Price"].sum()

                       Purchase ID
Gender
Female                         113
Male                           652
Other / Non-Disclosed           15

In [214]:
#grouped by gender
grouped_by_gender = pymoli_df.groupby('Gender')
#percentage = grouped_by_gender / df_player_count
df_grouped_by_gender = pd.DataFrame(grouped_by_gender("Gender"))
df_grouped_by_gender#.rename(
    #columns={"Purchase ID": "Total Count"})
#df_grouped_by_gender["Price"].mean()
#a revoir
#total_players = df_player_count
#gender_players = df_grouped_by_gender
#gender_perc = (gender_players/total_players)
#gender_perc

TypeError: 'DataFrameGroupBy' object is not callable

df_grouped_by_gender = pd.DataFrame(grouped_by_gender.count())
df_grouped_by_gender.rename(columns={"Purchase ID"}: {"Purchase Count"})
df_grouped_by_gender.head()

In [143]:
#second gender

SyntaxError: invalid syntax (<ipython-input-143-4148c8058c57>, line 3)

In [146]:
#Demo
print(pymoli_df["Age"].max())
print(pymoli_df["Age"].min())

45
7

In [152]:
bins = [0,9, 14, 19, 24, 29, 34, 39, 45]

group_labels = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pd.cut(pymoli_df["Age"], bins, labels=group_labels).head()
pymoli_df["Age Group"] = pd.cut(pymoli_df["Age"], bins, labels=group_labels)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [205]:
player_age = pymoli_df.groupby("Age Group")

player_age_df = pd.DataFrame(player_age["SN"].count())
player_age_df 
perc_age = (player_age["Age"].count()/num_purchase)*100
perc_age_df = pd.DataFrame(perc_age)
perc_age_df
merged_age_perc = pd.merge(player_age_df, perc_age_df, on="Age Group")
merged_age_perc

           Age_x      Age_y
Age Group
< 10          23   2.948718
10-14         28   3.589744
15-19        136  17.435897
20-24        365  46.794872
25-29        101  12.948718
30-34         73   9.358974
35-39         41   5.256410
40+           13   1.666667

In [225]:
#Purch annalysis by age
player_age_ave_purch_df = pd.DataFrame(player_age["Price"].mean())
#player_age_ave_purch_df
player_age_sum_purch_df = pd.DataFrame(player_age["Price"].sum())
#player_age_sum_purch_df
player_age_ave_person_purch = player_age["Price"].sum()/num_purchase#comeback
player_age_ave_person_purch_df = pd.DataFrame(player_age_ave_person_purch)
player_age_ave_person_purch_df
#a revoir

              Price
Age Group
< 10       0.098885
10-14      0.106128
15-19      0.529346
20-24      1.428282
25-29      0.375641
30-34      0.274359
35-39      0.189321
40+        0.049026

In [190]:
purch_annalysis_age = pd.merge(player_age_df, player_age_ave_purch_df, on="Age Group").merge(player_age_sum_purch_df, on="Age Group").merge(player_age_ave_person_purch_df, on="Age Group")
purch_annalysis_age

           Age   Price_x  Price_y         0
Age Group
< 10        23  3.353478    77.13  3.353478
10-14       28  2.956429    82.78  2.956429
15-19      136  3.035956   412.89  3.035956
20-24      365  3.052219  1114.06  3.052219
25-29      101  2.900990   293.00  2.900990
30-34       73  2.931507   214.00  2.931507
35-39       41  3.601707   147.67  3.601707
40+         13  2.941538    38.24  2.941538