In [17]:
import pandas as pd

In [22]:
file = ("purchase_data.csv")

In [23]:
pymoli_df = pd.read_csv(file, encoding="ISO-8859-1")

In [34]:
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [71]:
#player count
total_players = pymoli_df["SN"].nunique()
player_count = {"": [""], 
                "Total Players": [total_players]}
df_player_count = pd.DataFrame(player_count)
df_player_count

     Total Players
0              576

In [80]:
#purchasing annalysis
num_unique = pymoli_df["Item Name"].nunique()
ave_price = pymoli_df["Price"].mean()
num_purchase = pymoli_df["Purchase ID"].nunique()
total_purchase = pymoli_df["Price"].sum()
purch_annalysis = {"": [""], 
                "Unique Items": [num_unique],
                  "Average Price": [ave_price],
                   "Number of Purchases": [num_purchase],
                  "Total Purchase": [total_purchase]}
df_purchase_annalysis = pd.DataFrame(purch_annalysis)
df_purchase_annalysis

     Unique Items  Average Price  Number of Purchases  Total Purchase
0             179       3.050987                  780         2379.77

In [84]:
#gender demographic
gender_count = pymoli_df["Gender"].value_count()

AttributeError: 'Series' object has no attribute 'value_count'